{% extends 'base.html.twig' %}

{% block title %}Hello AppelationController!{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
    <button>Créer cette appelation</button>
{{ form_end(form) }}

{% endblock %}
