{% extends 'base.html.twig' %}

{%  block body %}

    <div class="container mt-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>Rechercher</button>
        {{ form_end(form) }}
        {{ dump(results) }}
    </div>

{% endblock %}